:root {
  --clr-accent-100: hsl(32 100% 94%);
  --clr-accent-200: hsl(32 100% 70%);
  --clr-accent-400: hsl(32 100% 50%);
  --clr-gray-50: hsl(202 12% 94%);
  --clr-gray-100: hsl(202 12% 88%);
  --clr-gray-200: hsl(202 12% 82%);
  --clr-gray-400: hsl(202 12% 75%);
  --clr-gray-600: hsl(202 12% 50%);
  --clr-gray-700: hsl(202 12% 35%);
  --clr-gray-800: hsl(202 12% 25%);
  --clr-gray-900: hsl(202 12% 12%);
  --clr-white: hsl(202 12% 100%);

  --bg-clr: var(--clr-gray-50);

  --font-weight-medium: 535;
  --font-weight-small: 275;
  --font-size-h1: 22px;
  --font-size-h2: 20px;
  --font-size-subtitle: 12px;
  --font-size-label: 8px;
  --font-size-paragraph: 10px;

  --h2-margin-block: 18px 12px;

  --header-height: 42px;
  --header-bg-clr: var(--clr-white);
  --header-border-clr: var(--clr-gray-200);
  --header-title-icon-size: 28px;
  --header-padding-inline: 11px 8px;
  --header-icon-padding: 11px;
  --header-title-inner-padding: 5px;
  --header-page-title-size: 22px;
  --header-page-title-weight: var(--font-weight-small);
  --header-page-title-clr: var(--clr-gray-400);
  --header-avatar-size: 32px;
  --header-avatar-border-clr: var(--clr-gray-200);
  --header-login-btn-size: 24px;
  --header-login-btn-clr: var(--clr-gray-400);

  --sidebar-width: 50px;
  --sidebar-padding-block: 12px;
  --sidebar-padding-inline: 8px;
  --sidebar-bg-clr: var(--clr-gray-800);
  --sidebar-txt-clr: var(--clr-white);
  --sidebar-icon-size: 26px;
  --sidebar-icon-active-clr: var(--clr-accent-400);
  --sidebar-icon-active-bg-clr: var(--clr-gray-700);
  --sidebar-nav-link-width: 45px;
  --sidebar-nav-link-height: 40px;
  --sidebar-active-bg-radius: 4px;
  --sidebar-nav-spacing: 10px;

  --txt-clr: var(--clr-gray-900);
  --main-padding: 14px;
  --input-height: 26px;
  --input-bg-clr: var(--clr-white);
  --input-border-clr: var(--clr-gray-100);
  --input-focus-border-clr: var(--clr-accent-400);
  --input-font-size: 12px;
  --input-placeholder-clr: var(--clr-gray-200);
  --input-txt-clr: var(--txt-clr);
  --input-inline-padding: 5px;
  --input-block-padding: 4px;
  --input-label-size: 10px;
  --input-label-clr: var(--clr-gray-700);
  --input-password-show-clr: var(--clr-gray-400);
  --input-password-show-focus-clr: var(--clr-accent-400);
  --input-password-show-size: 14px;
  --input-label-spacing: 4px;
  --input-border-radius: 2px;
  --form-spacing: 14px;

  --card-bg-clr: var(--clr-white);
  --card-padding: 8px 12px;
  --card-radius: 4px;

  --btn-primary-clr: var(--clr-accent-400);
  --btn-primary-active-clr: var(--clr-accent-200);
  --btn-secondary-clr: lime;
  --btn-secondary-active-clr: green;
  --btn-txt-clr: var(--clr-white);
  --btn-font-size: var(--font-size-paragraph);
  --btn-big-font-size: 12px;
  --btn-font-weight: 400;
  --btn-big-font-weight: var(--font-weight-medium);
  --btn-width: 80px;
  --btn-big-width: 115px;
  --btn-height: 0px;
  --btn-big-height: 24px;
  --btn-padding: 0;
  --btn-big-padding: 4px 8px;
  --btn-radius: 0px;
  --btn-big-radius: 4px;

  color: var(--txt-clr);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template:
    'header header'     var(--header-height)
    'sidebar main'      auto
    'sidebar copyright' var(--font-size-paragraph)
    / var(--sidebar-width) auto;
  ;
  background-color: var(--bg-clr);
}

*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--clr-accent-400);
  color: var(--clr-white);
}
::-moz-selection {
  background-color: var(--clr-accent-400);
  color: var(--clr-white);
}

#__next {
  display: contents;
}

main {
  grid-area: main;
  padding: var(--main-padding)
}

/*
 * Using code from Bootstraps visually-hidden mixins
 * https://github.com/twbs/bootstrap/blob/5414880e37a77b6d68eaa4a1a11153cf94079424/scss/mixins/_visually-hidden.scss
 */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
:is(.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within)):not(caption) {
  position: absolute !important;
}

h1 {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h1);
  margin: 0;
}
h2 {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h2);
  margin-block: var(--h2-margin-block);
  margin-inline: 0;
  padding: 0;
}

:where(button) {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

input {
  appearance: none;
  outline: none;
  caret-color: var(--clr-accent-400);
}
:not(input) + label {
  display: block;
}
label {
  font-size: var(--input-label-size);
  color: var(--input-label-clr);
}
label + label {
  margin-block-start: var(--form-spacing);
}
label input:where([type='text'], [type='password']) {
  margin-block-start: var(--input-label-spacing);
}
input:where([type='text'], [type='password']) {
  display: block;
  width: 100%;
  height: var(--input-height);
  line-height: var(--input-height);
  padding-block: var(--input-block-padding);
  padding-inline: var(--input-inline-padding);
  font-family: inherit;
  font-size: var(--input-font-size);
  background-color: var(--input-bg-clr);
  border: 1px solid var(--input-border-clr);
  border-radius: var(--input-border-radius);
}
input[data-show-password]:not(:placeholder-shown) {
  font-family: monospace;
}
input:where([type='text'], [type='password']):focus-visible {
  border-color: var(--input-focus-border-clr);
  box-shadow: 0 0 0 1px var(--input-focus-border-clr);
}
.passwordInputWrapper {
  position: relative;
  isolation: isolate;
}
.passwordInputWrapper input {
  padding-inline-end: calc(var(--input-inline-padding) * 2 + var(--input-password-show-size));
}
.passwordInputWrapper button {
  position: absolute;
  inset: 50% var(--input-inline-padding) auto auto;
  translate: 0 -50%;
  width: var(--input-password-show-size);
  height: var(--input-password-show-size);
  font-size: var(--input-password-show-size);
  color: var(--input-password-show-clr);
}
.passwordInputWrapper button:where(:focus-visible, :hover) {
  color: var(--input-password-show-focus-clr);
}

.card {
  background-color: var(--card-bg-clr);
  padding: var(--card-padding);
  border-radius: var(--card-radius);
}

.btn {
  --btn__txt-clr: var(--btn-txt-clr);
  --btn__padding: var(--btn-padding);
  --btn__width: var(--btn-width);
  --btn__height: var(--btn-height);
  --btn__radius: var(--btn-radius);
  --btn__font-size: var(--btn-font-size);
  --btn__font-weight: var(--btn-font-weight);

  display: inline-block;
  color: var(--btn__txt-clr);
  padding: var(--btn__padding);
  min-width: var(--btn__width);
  height: var(--btn__height);
  border-radius: var(--btn__radius);
  font-size: var(--btn__font-size);
  font-weight: var(--btn__font-weight);
  background-color: var(--btn__bg-clr, hotpink);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn:where(:hover, :focus-visible) {
  outline: 2px solid var(--btn__bg-clr, lime);
  outline-offset: 2px;
}
.btn.primary {
  --btn__bg-clr: var(--btn-primary-clr);
}
.btn.secondary {
  --btn__bg-clr: var(--btn-secondary-clr);
}
.btn.big {
  --btn__padding: var(--btn-big-padding);
  --btn__width: var(--btn-big-width);
  --btn__height: var(--btn-big-height);
  --btn__radius: var(--btn-big-radius);
  --btn__font-size: var(--btn-big-font-size);
  --btn__font-weight: var(--btn-big-font-weight);
}
.btn.center {
  display: block;
  margin-inline: auto;
}
