:root {
  --clr-accent-100: hsl(32 100% 94%);
  --clr-accent-200: hsl(32 100% 70%);
  --clr-accent-400: hsl(32 100% 50%);
  --clr-gray-50: hsl(202 12% 94%);
  --clr-gray-100: hsl(202 12% 88%);
  --clr-gray-200: hsl(202 12% 82%);
  --clr-gray-400: hsl(202 12% 75%);
  --clr-gray-600: hsl(202 12% 50%);
  --clr-gray-700: hsl(202 12% 35%);
  --clr-gray-800: hsl(202 12% 25%);
  --clr-gray-900: hsl(202 12% 12%);
  --clr-white: hsl(202 12% 100%);

  --font-weight-medium: 535;
  --font-weight-small: 275;
  --font-size-h1: 22px;
  --font-size-h2: 20px;
  --font-size-subtitle: 12px;
  --font-size-label: 8px;
  --font-size-paragraph: 10px;

  --header-height: 42px;
  --header-bg-clr: var(--clr-white);
  --header-border-clr: var(--clr-gray-200);
  --header-title-icon-size: 28px;
  --header-padding-inline: 11px 8px;
  --header-icon-padding: 11px;
  --header-title-inner-padding: 5px;
  --header-page-title-size: 22px;
  --header-page-title-weight: var(--font-weight-small);
  --header-page-title-clr: var(--clr-gray-400);
  --header-avatar-size: 32px;
  --header-avatar-border-clr: var(--clr-gray-200);
  --header-login-btn-size: 24px;
  --header-login-btn-clr: var(--clr-gray-400);

  --sidebar-width: 50px;
  --sidebar-padding-block: 12px;
  --sidebar-padding-inline: 8px;
  --sidebar-bg-clr: var(--clr-gray-800);
  --sidebar-txt-clr: var(--clr-white);
  --sidebar-icon-size: 26px;
  --sidebar-icon-active-clr: var(--clr-accent-400);
  --sidebar-icon-active-bg-clr: var(--clr-gray-700);
  --sidebar-nav-link-width: 45px;
  --sidebar-nav-link-height: 40px;
  --sidebar-active-bg-radius: 4px;
  --sidebar-nav-spacing: 10px;

  --clr-txt: var(--clr-gray-900);
  color: var(--clr-txt);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template:
    'header header'     var(--header-height)
    'sidebar main'      auto
    'sidebar copyright' var(--font-size-paragraph)
    / var(--sidebar-width) auto;
  ;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--clr-accent-400);
  color: var(--clr-white);
}
::-moz-selection {
  background-color: var(--clr-accent-400);
  color: var(--clr-white);
}

#__next {
  display: contents;
}

main {
  grid-area: main;
}

/*
 * Using code from Bootstraps visually-hidden mixins
 * https://github.com/twbs/bootstrap/blob/5414880e37a77b6d68eaa4a1a11153cf94079424/scss/mixins/_visually-hidden.scss
 */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
:is(.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within)):not(caption) {
  position: absolute !important;
}

h1 {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h1);
  margin: 0;
}

:where(button) {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
}