.sidebar {
  grid-area: sidebar;
  background: var(--sidebar-bg-clr);
  padding-block: var(--sidebar-padding-block);
  padding-inline: var(--sidebar-padding-inline);
  color: var(--sidebar-txt-clr);
}

.sidebar a {
  color: inherit;
}

.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  list-style: none;
}
.nav a {
  display: grid;
  grid-template: var(--sidebar-icon-size) var(--sidebar-title-size) / 100%;
  gap: var(--sidebar-icon-spacing);
  justify-items: center;
  align-content: center;
  width: 100%;
  aspect-ratio: 1;
  text-decoration: none;
  border-radius: var(--sidebar-bg-radius);
  --bg-accent: none;
  background-color: var(--bg-accent);
}
.nav a:global(.active) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  color: var(--sidebar-icon-active-clr);
  --bg-accent: var(--sidebar-icon-active-bg-clr);
  box-shadow: var(--sidebar-padding-inline) 0 0 var(--bg-accent);
}
.nav a:is(:hover, :focus-visible) {
  --bg-accent: var(--sidebar-icon-hover-bg-clr);
}
.icon {
  height: var(--sidebar-icon-size);
  width: auto;
}
.title {
  font-size: var(--sidebar-title-size);
  line-height: 1;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: var(--sidebar-icon-padding);
}
.nav li + li {
  margin-block-start: var(--sidebar-nav-spacing);
}